body{
	margin: 0;
	padding: 0;
	background: #191919;
}
.title {
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: center;
	color: #1141dd;
	font-size: 3rem;
}
.box{
	width: 1000px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #191919;
	text-align: center;
}
.box input[type = "submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}
.box input[type = "submit"]:hover{
	background: #2ecc71;
}
.box input[type = "password"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	width: 200px;
	border: 2px solid #3498db;
	padding: 14px 10px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}
.text
{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	width: 200px;
	border: 2px solid #3498db;
	padding: 14px 10px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
  text-decoration: none;
}
.text:hover
{
  background-color: #00cc66;
}
.wpis
{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	width: 1000px;
	border: 2px solid #3498db;
	padding: 14px 10px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
  text-decoration: none;
}
